@import url("https://fonts.googleapis.com/css?family-Poppins:200,300,400,500,600,700,800,900&display=swap");
*
{
    margin:0;
    padding:0;
    font-family: "poppins" , sans-serif;
}
body 
{
    display:flex;
    padding:10px;
  
    align-items: left;
    min-height: 100vh;
    flex-direction: column;
    background: #A3B3EF;
}
a {
    position: relative;
    top: 50px;
    display: inline-block;
    padding: 12px 36px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing:2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#122651,rgb(122, 0, 133));
    border : 3px black ;
    
}
.projectheading {
    display: flex;
    top: 50px;
    
}

table, th, td {
    font-family: "Lato", sans-serif;
    color: white;
    text-shadow: black;
  
  }
 .table1 {
    
     position:absolute;
     top: 160px;
    
 }
 .table1 {
    border-collapse: collapse;
  margin: 25px 0;
  font-size: o.9em;
  min-width: 480px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0,0, 0.15);

}
.table1 thead tr {
    background-color: rgb(148, 14, 175);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    display:flex

}
.table1 th,
.table1 td {
    padding: 12px 15px;
    border-color: white;
}
.table tbody tr {
    border-bottom: 3px solid #dddddd'
}
.table1 tbody tr:last-of-type
{
  border-bottom: 2px solid #009879;
}




.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: linear-gradient(90deg,#122651,rgb(8, 4, 255));
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
h1 
{
    padding:5px;
}